@model List<MVCMoviesDetails.Models.Movies.MovieModel>
    <br />
    <br />
    <br />
    <br />
    <br />


    <h2>Filter Movie List</h2>
    <table width="100%" border="2">
        @foreach (var movie in Model)
        {
            <tr>
                <td class="MovieId" width="10%">@movie.MovieId</td>
                <td class="MovieName" width="80%">@movie.MovieName</td>
                <td class="ReleaseYear" width="30%">@movie.ReleaseYear</td>
                <td class="Genre" width="60%">@movie.Genre</td>
            </tr>
        }
    </table>